<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.FeedBackMapper">
    <select id="selectByPager" resultType="FeedBack">
        select id,title,content,user_id userId,save_date saveDate
        from yx_feedback limit #{start},#{rows}
    </select>
    <select id="selectRecords" resultType="java.lang.Integer">
        select count(id) from yx_feedback
    </select>
</mapper>