<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baizhi.dao.UserMapper">


    <select id="selectuser" resultType="User">
        select * from yx_user where username=#{username}
    </select>
    <select id="queryByUsername" resultType="User">
        select id,username,phone,head_img headImg,sign,wechat,status,sex,city,creat_date creatDate
        from yx_user where username=#{username}
    </select>
    <select id="selectByPager" resultType="User">
        select id,username,phone,head_img headImg,sign,wechat,status,sex,city,creat_date creatDate
        from yx_user limit #{start},#{rows}
    </select>

    <select id="selectRecords" resultType="java.lang.Integer">
        select count(id) from yx_user
    </select>
    <update id="updateuser" parameterType="User">
		update yx_user
		set
	    status=#{status}
		where id=#{id}
	</update>
    <select id="selectmapsexs" resultType="User">
       select city name,count(id) value from yx_user where sex='女' GROUP BY city
    </select>
    <select id="selectmapsex" resultType="User">
       select city name,count(id) value from yx_user where sex='男' GROUP BY city
    </select>
</mapper>